name: Publish Crates

on:
  workflow_call:
    secrets:
      CARGO_REGISTRY_TOKEN:
        required: true

jobs:
  publish_crates:
    name: Publish Crates
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
          
      - name: Publish Vector xLite
        # if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        # if: github.ref == 'refs/heads/main' || github.event_name == 'pull_request'
        run:  cargo publish --token ${{ secrets.CARGO_REGISTRY_TOKEN }}
        working-directory: ./vector_xlite
        

