name: Build and Test Go Projects

on:
  workflow_call:

jobs:
  build_go:
    name: Build and Test Go Projects
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
        
      - name: Install Protobuf Compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Install Dependancies
        run: go mod tidy
      
      - name: Build Vector XLite Go Client
        run: go build -v -o vxlite ./vector_xlite_go_client
      
      - name: Build Go Examples
        run: go build -v -o vxlite-example ./console_exmples/go_examples