name: Build and Test Go Projects

on:
  workflow_call:

jobs:
  build_go:
    name: Build and Test Go Projects
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.21
        
      - name: Install Protobuf Compiler
        run: sudo apt-get update && sudo apt-get install -y protobuf-compiler

      - name: Install Standalone Go Client Dependencies
        run: go mod tidy
        working-directory: ./standalone/clients/go

      - name: Build Standalone Go Client
        run: go build -v -o vxlite_client_go client/client.go
        working-directory: ./standalone/clients/go

      - name: Install Standalone Examples Dependencies
        run: go mod tidy
        working-directory: ./standalone/examples/go

      - name: Build Standalone Examples
        run: go build -v -o vxlite-example
        working-directory: ./standalone/examples/go

      - name: Install Distributed Cluster Dependencies
        run: go mod tidy
        working-directory: ./distributed/cluster

      - name: Build Distributed Cluster Server
        run: go build -v -o bin/server cmd/server/main.go
        working-directory: ./distributed/cluster

      - name: Build Distributed Cluster CLI
        run: go build -v -o bin/client cmd/cli/main.go
        working-directory: ./distributed/cluster