name : Rust Build and Test

on :
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Rust Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          override: true
      
      - name: Build 
        run : cargo build --release
        working-directory: ./console_exmples/rust_examples
    

